.container {
    background-color: var(--davy);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 0.75rem;
}

.text-input {
    resize: none;
    align-self: stretch;
    background-color: var(--heaven-light);
    font-family: var(--font-display);
    font-size: 1.2rem;
    width: 100%;
    color: var(--davy);
}

.text-input:focus-visible {
    outline: var(--focus-outline);
}

.text-input.error {
    border: 7px solid var(--error-red);
}

.header {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}

.label {
    font-size: 1.5rem;
    color: var(--heaven-light);
    font-family: var(--font-display);
    margin: 0 auto;
}

.error-message {
    background-color: var(--heaven-light);
    color: var(--wine-red);
    font-size: 1.3rem;
    align-self: center;
    padding: 0.25rem;
    border-radius: 0.75rem;
    margin-top: 0.75rem;
    border: 3px solid var(--error-red);
}

.markdown-container {
    background-color: var(--heaven-light);
    padding: 0.5rem;
}

.text-effect-buttons {
    display: flex;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
}

.text-effect-button-icon {
    width: 1rem;
    height: 1rem;
    fill: var(--davy);
    color: var(--davy);
}

.text-effect-button {
    position: relative;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: var(--heaven-light);
    border: 0px;
    border-radius: 0.35rem;
    font-family: var(--font-display);
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3rem 0.3rem;
    color: var(--davy);
}

.text-effect-button:focus-visible {
    background-color: var(--highlight-light);
    outline: var(--focus-outline);
}

.text-effect-button:active:not(:disabled) {
    background-color: var(--highlight) !important;
}

.text-effect-button:disabled {
    background-color: var(--davy-super-light);
    cursor: default;
}

.text-effect-button:disabled .text-effect-button-icon {
    fill: var(--davy-light);
    color: var(--davy-light);
}

.tooltip {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    font-size: 0.85rem;
    bottom: -128%;
    border: 0.5px solid var(--heaven);
    left: 40%;
    padding: 0.3rem;
    border-radius: 0.35rem;
    transition: opacity 0.4s;
    white-space: nowrap;
    background-color: var(--davy-light);
    color: var(--heaven-light);
    font-family: var(--font-display);
    font-weight: normal;
    font-style: normal;
}

@media (hover: hover) {
    .text-effect-button:hover:not(:disabled) {
        background-color: var(--highlight-light);
    }

    .text-effect-button:hover .tooltip {
        visibility: visible;
        opacity: 1;
    }
}