.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.name-and-level {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.casting-time-duration-range {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.components-school-ritual-concentration {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "components"
                         "school";
    gap: 1.5rem;
    margin-top: 1.5rem;
    width: 100%;
}

.classes-damage-type {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "classes"
                         "damageType";
    gap: 1.5rem;
    margin-top: 1.5rem;
    width: 100%;
}

.damage-type-container {
    grid-area: damageType;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.classes-container {
    grid-area: classes;
    display: flex;
    justify-content: center;
    align-items: center;
}

.components-container {
    grid-area: components;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-higher-levels {
    margin: 2rem 0;
    width: 100%;
}

.description-higher-levels > * {
    margin: 1rem 0;
}

.components {
    border: 3px solid var(--davy);
    border-radius: 1rem;
}

.components.error {
    border: 3px solid var(--error-red);
}

.components.error legend {
    color: var(--wine-red);
}

.error-message {
    font-size: 1.5rem;
    color: var(--wine-red);
}

.components legend {
    font-size: 1.5rem;
}

.school-ritual-concentration {
    grid-area: school;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.concentration-ritual {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: flex-start;
}

.margin-vertical {
    margin: 1rem 0;
}

.damage-type-icon {
    margin-top: 1rem;
    width: 5rem;
    height: 5rem;
}

.summons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.summon {
    margin: 1rem 0;
    border: 3px solid var(--davy);
    width: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
    position: relative;
}

.button-icon {
    width: 2.5rem;
    height: 2.5rem;
}

.close-button-icon {
    width: 1rem;
    height: 1rem;
}

@media (min-width: 1024px) {
    .name-and-level {
        justify-content: space-around;
    }
}

@media (min-width: 768px) {
    .components-school-ritual-concentration {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100%;
        grid-template-areas: "components school";
    }

    .classes-damage-type {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100%;
        grid-template-areas: "classes damageType";
    }

    .summon {
        width: 80%;
    }
}