.container {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    font-size: 1rem;
    margin-top: 0.8rem;
}

.validator {
    display: flex;
    align-items: center;
    width: 50%;
}

.match {
    border-bottom: 2px solid var(--positive-green);
}

.no-match {
    border-bottom: 2px solid var(--wine-red);
}

.icon {
    width: 2rem;
    height: 2rem;
}

.check {
    fill: var(--positive-green);
}

.x {
    fill: var(--wine-red);
}

@media screen and (min-width: 768px) {
    .container {
        width: 63%;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 50%;
    }
}