.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--davy);
	border: 3px solid var(--davy);
	border-radius: 1rem;
	color: var(--heaven-light);
	width: 100%;
	padding-bottom: 1.5rem;
}

.text {
	font-size: 1.5rem;
	padding: 1.5rem 0;
}

.spells-container {
	align-self: stretch;
	padding: 1.5rem;
	max-height: 40rem;
	overflow-y: auto;
}

.filter-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 1rem 2rem;
	flex-wrap: wrap;
}

.search {
	padding: 0.3rem 0 0.3rem 2rem;
    font-family: inherit;
    font-size: 1.1rem;
    background-color: var(--heaven-light);
    border: 1px solid var(--davy);
    border-radius: 0.75rem;
    color: var(--davy);
	width: 100%;
}

.search:focus-visible,
.search:active {
    outline: var(--focus-outline);
}

.search::placeholder {
	color: var(--davy-light);
}

.search-container {
	position: relative;
	flex-grow: 1;
	margin: 0.75rem;
}

.search-icon {
	position: absolute;
	top: 0.5rem;
	bottom: 0;
	left: 0.5rem;
	pointer-events: none;
	height: 1.5rem;
	color: var(--davy);
}

.selects {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.select-container {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0.5rem;
}

.select-label {
	margin-bottom: 0.5rem;
	display: inline-block;
	font-size: 1.3rem;
}