.button {
    margin-top: 1rem;
    background-color: var(--wine-red);
    color: var(--heaven);
    font-family: var(--font-fantasy);
    width: fit-content;
    font-size: 1.3rem;
    border-radius: 0.75rem;
    padding: 0.3rem;
    cursor: pointer;
    box-shadow: 0 0.5rem #999;
}

.button:active {
    background-color: var(--wine-red-active);
    transform: translateY(0.25rem);
    box-shadow: 0 0.25rem #999;
}

@media screen and (min-width: 768px) {
    .button {
        margin-top: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .button {
        margin-top: 2rem;
        font-size: 2.5rem;
        padding: 1rem;
    }
}

@media (hover: hover) and (pointer: fine) {
    .button:hover {
        background-color: var(--wine-red-hover);
    }
}