.button {
    color: var(--heaven-light);
    border: 0;
    cursor: pointer;
    border-radius: 0.25rem;
    font-family: inherit;
}

.button:disabled {
    background-color: #ddd;
    color: #555;
    cursor: auto;
}

.button:focus {
    outline: var(--focus-outline);
}

.negative {
    background-color: var(--wine-red);
}

.negative:hover {
    background-color: var(--wine-red-hover);
}

.negative:active {
    background-color: var(--wine-red-active);
}

.negative:disabled {
    background-color: #ddd;
}

.positive {
    background-color: var(--positive-green);
}

.positive:hover {
    background-color: var(--positive-green-hover);
}

.positive:active {
    background-color: var(--positive-green-active);
}

.positive:disabled {
    background-color: #ddd;
}