.manual-scores {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

.manual-score {
    width: 28%;
    color: var(--davy);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
}

.manual-score input {
    width: 100%;
    font-size: 1.5rem;
    font-family: inherit;
    border: 1px solid var(--davy);
    background-color: var(--heaven-light);
    text-align: center;
}

.manual-score input:focus {
    outline: var(--focus-outline);
}

.manual-score label {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.total {
    font-weight: bold;
    margin-top: 1rem;
}

@media screen and (min-width: 1024px) {
    .manual-score {
        width: 14%;
    }
}