.toast {
    padding: 1rem;
    display: grid;
    font-family: var(--font-display);
    color: white;
    grid-template-columns: 2fr 5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "icon text x"
                        "icon text .";
    transform: translate(0, 100%);
    transition: transform 0.5s;
    pointer-events: all;
}

.open {
    transform: translateY(0) !important;
}

.toast-error {
    background-color: red;
}

.toast-success {
    background-color: green;
}

.toast-title {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
}

.toast-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: text;
}

.icon {
    height: 3rem;
    width: 3rem;
}

.icon-container {
    grid-area: icon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.x-icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.x-container {
    grid-area: x;
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.message {
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
}

@media screen and (min-width: 768px) {
    .toast {
        bottom: 0;
        right: 0;
        position: absolute;
        width: 20rem;
        height: 9rem;
        transform: translate(100%, 0);
    }

    .open {
        transform: translateX(0) !important;
    }

    .toast-title {
        font-size: 2.3rem;
    }

    .message {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1024px) {
    .toast {
        width: 25rem;
        height: 10rem;
    }

    .toast-title {
        font-size: 2.7rem;
    }

    .message {
        font-size: 1.6rem;
    }

    .icon {
        width: 4rem;
        height: 4rem;
    }
}

@media screen and (min-width: 1280px) {
    .toast {
        width: 30rem;
        height: 12rem;
    }

    .icon {
        width: 5rem;
        height: 5rem;
    }
}