.trait {
    background-color: var(--highlight-light);
    border: 2px solid var(--davy);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    position: relative;
    margin: 2rem 0;
}

.extra-deck {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2px solid var(--davy);
    border-radius: 0.5rem;
	margin: 1rem 0;
    padding: 1rem;
}