.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.features {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin: 2rem 0;
}

.feature {
    position: relative;
    background-color: var(--heaven-light);
    border: 5px solid var(--davy);
    border-radius: 1rem;
    width: fit-content;
    max-width: 40rem;
    padding: 1rem;
    box-shadow: var(--standard-box-shadow);
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    gap: 1.5rem;
    margin: 1rem 0;
}

.feature > * {
    margin: 0 auto;
}

.per-level-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid var(--davy);
    border-radius: 1rem;
    padding: 0.5rem;
}

.sub-features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid var(--davy);
    border-radius: 1rem;
    padding: 0.5rem;
    width: 100%;
}

.sub-features-choose {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem 0;
    width: 100%;
}

.sub-features-from {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0;
    width: 100%;
}

.sub-feature {
    position: relative;
    background-color: var(--highlight-light);
    border: 5px solid var(--davy);
    border-radius: 1rem;
    width: 100%;
    padding: 1rem;
    box-shadow: var(--standard-box-shadow);
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    gap: 1.5rem;
    margin: 1rem 0;
}

.sub-feature > * {
    margin: 0 auto;
}

.per-levels-title {
    font-size: 1.5rem;
}

.per-levels {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.per-level {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 0.5rem;
    width: 100%;
    margin: 1rem 0;
}

.sub-title {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
}

.input-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    margin: 1rem 0;
}

.remove-icon {
    width: 3rem;
    height: 3rem;
    color: var(--wine-red);
}

.remove-button {
    width: fit-content;
    height: fit-content;
    margin: auto;
    border: none;
    background: none;
    cursor: pointer;
}

.remove-button:focus-visible {
    outline: var(--focus-outline);
}