.modal-container {
    background-color: rgba(03, 03, 03, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 100%;
    height: 100%;
    background-color: var(--heaven);
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 2fr 4fr 1fr;
    grid-template-areas: "icon icon"
                        "content content"
                        "buttons buttons";
    font-family: var(--font-display);
}

.content-container {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding-bottom: 2rem;
}

.icon-container {
    grid-area: icon;
    background-color: chartreuse;
}

.buttons-container {
    grid-area: buttons;
    background-color: gold;
    display: flex;
    color: var(--heaven-light);
}

.button {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
}

.button:focus {
    outline: var(--focus-outline);
}

.choose {
    background-color: var(--positive-green);
}

.cancel {
    background-color: var(--wine-red);
}

@media screen and (min-width: 768px) {
    .modal {
        height: 80%;
        width: 80%;
    }
}

@media screen and (min-width:1024px) {
    .modal {
        height: 60%;
        width: 60%;
        grid-template-areas: "content icon"
                             "content ."
                             "buttons buttons";
        grid-template-rows: 3fr 3fr 1fr;
    }
}