.modal-container {
    background-color: rgba(03, 03, 03, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 100%;
    height: 100%;
    background-color: var(--heaven);
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 4fr 0.5fr 1fr;
    grid-template-areas: "icon icon"
                        "content content"
                        "other other"
                        "buttons buttons";
    font-family: var(--font-display);
    overflow: hidden;
}

.content-container {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5rem;
}

.icon-container {
    grid-area: icon;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.icon {
    height: 10rem;
    width: 10rem;
}

.buttons-container {
    grid-area: buttons;
    display: flex;
}

.error-message {
    font-size: 1.3rem;
}

.modal-content-container {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 3px solid var(--davy);
    border-bottom: 3px solid var(--davy);
    height: 100%;
}

.title {
    color: var(--davy);
    font-family: var(--font-fantasy);
    font-size: 2rem;
    margin-block-start: 0.3rem;
    margin-block-end: 0.3rem;
}

.other-container {
    grid-area: other;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-bottom: 1rem;
    overflow-y: auto;
}

.other {
    text-align: center;
    color: var(--davy);
}

.other-label {
    font-weight: bold;
    font-size: 1.5rem;
}

.other-data {
    font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
    .modal {
        height: 80%;
        width: 80%;
    }
}

@media screen and (min-width: 1024px) {
    .modal {
        height: 60%;
        width: 60%;
        grid-template-areas: "content icon"
                             "content other"
                             "buttons buttons";
        grid-template-rows: 3fr 3fr 1fr;
    }

    .title {
        margin-block-start: 0.8rem;
        margin-block-end: 0.8rem;
    }

    .modal-content-container {
        border-bottom: none;
    }
}