.calculation {
    width: 100%
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--heaven);
    margin-right: 0.7rem;
}

.header {
    background-color: var(--davy);
    color: var(--heaven);
    font-family: var(--font-fantasy);
    padding: 0.5rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.component {
    display: flex;
    font-size: 1.2rem;
    background-color: var(--heaven);
}

.calculation-component {
    border: 1px solid var(--davy);
}

.label {
    width: 70%;
    padding: 0.5rem;
    background-color: var(--heaven);
    display: flex;
    align-items: center;
}

.calculation-label {
    border-right: 2px solid var(--highlight);
}

.value {
    width: 30%;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: var(--heaven-light);
}

.input-value {
    background-color: var(--heaven) !important;
}

.value input {
    width: 100%;
    font-size: 1.5rem;
    font-family: var(--font-display);
    text-align: center;
    border: 1px solid var(--davy);
    background-color: var(--heaven-light);
}

.value input:focus {
    outline: var(--focus-outline);
}

@media screen and (min-width: 768px) {
    .calculation {
        width: 30%;
        margin: 0.6rem;
    }

    .component {
        font-size: 0.85rem;
    }
}

@media screen and (min-width: 1280px) {
    .component {
        font-size: 1rem;
    }
}