.table {
    color: var(--davy);
    background-color: var(--heaven-light);
    border-collapse: collapse;
    padding: 0.5rem;
    border-radius: 0.3rem;
    width: 100%;
}

.table th {
    text-align: start;
}

.table td, .table th {
    padding: 0.5rem;
}

.table th {
    background-color: var(--davy);
    color: var(--heaven-light);
}

.odd {
    background-color: var(--highlight-light);
}

.ordinal {
    font-size: 0.75rem;
}

.level-select-container {
    display: column;
    align-items: flex-start;
    padding: 1rem;
}

.level-select-label {
    font-size: 1.5rem;
}

.level-select {
    font-size: 1.5rem;
}

.current-level-row {
    background-color: var(--highlight) !important;
}

.heading {
    align-self: center;
    margin-block-start: 0.75rem;
    margin-block-end: 0.75rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container {
    width: 100%;
}