.table {
    color: var(--davy);
    background-color: var(--heaven-light);
    border-collapse: collapse;
    padding: 0.5rem;
    border-radius: 0.3rem;
    width: 100%;
}

.table th {
    text-align: start;
    border: 1px solid var(--davy);
}

.table td, .table th {
    padding: 0.5rem;
}

.table th {
    background-color: var(--davy);
    color: var(--heaven-light);
}

.odd {
    background-color: var(--highlight-light);
}

.ordinal {
    font-size: 0.75rem;
}

.level-select-container {
    display: column;
    align-items: flex-start;
    padding: 1rem;
}

.level-select-label {
    font-size: 1.5rem;
}

.level-select {
    font-size: 1.5rem;
}

.current-level-row {
    background-color: var(--highlight) !important;
}

.heading {
    align-self: center;
    margin-block-start: 3rem;
    margin-block-end: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container {
    width: 100%;
}

.subclass-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ability-bonus-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.summary {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem;
}

.summary div {
    text-align: center;
}

.summary > div {
    margin: 0.5rem;
}

.summary-item-label {
    font-weight: bold;
    font-size: 1.3rem;
}

.summary-item-data {
    font-size: 1.2rem;
}

.icon {
    width: 7rem;
    height: 7rem;
}

.favored-enemy-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.favored-terrain-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}