.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    font-family: var(--font-display);
}

.big-text {
    font-family: var(--font-fantasy);
    color: var(--davy);
    align-self: center;
}

.email-blurb {
    color: var(--davy);
    font-size: 0.8rem;
    padding: 0.5rem 5rem;
}

.optional-text {
    font-size: 0.7rem;
}

.forgot-link {
    color: var(--davy-light);
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .optional-text {
        font-size: 1.05rem
    }

    .big-text {
        font-size: 2.5rem;
    }

    .email-blurb {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .big-text {
        font-size: 3rem;
    }

    .optional-text {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1536px) {
    .email-blurb {
        font-size: 1.3rem;
    }
}

@media (hover: hover) and (pointer: fine) {
    .forgot-link:hover {
        color: var(--highlight);
        background-color: var(--davy-light);
        border-radius: 0.5rem;
    }
}