.display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.rolls {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.roll {
    width: 20px;
    height: 20px;
    background-color: #1c9aef;
    color: var(--heaven-light);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.2rem;
    border-radius: 0.25rem;
}

.roll:last-child {
    background-color: #999;
}

.display-container button {
    width: 100%;
}

.display-container select {
    margin-top: 0.5rem;
    width: 100%;
    font-size: 1.5rem;
    font-family: inherit;
    border: 1px solid var(--davy);
    background-color: var(--heaven-light);
}

.display-container select:focus-visible {
    outline: var(--focus-outline);
}

.total {
    font-size: 2.2rem;
    font-weight: bold;
    margin: 1rem 0;
}

@media screen and (min-width: 768px) {
    .display-container {
        width: 15%;
    }
}
