.subclass {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 4px solid var(--davy);
    border-radius: 1rem;
    background-color: var(--heaven-light);
    padding: 1rem;
    position: relative;
}

.subclass-description {
    text-align: center;
    font-size: 1.2rem;
}

.subclass-heading {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

.selected {
	background-color: var(--highlight) !important;
}

.subclass th {
    background-color: var(--davy);
    color: var(--heaven-light);
    text-align: start;
    padding: 0.5rem;
}

.subclass table {
    border-collapse: collapse;
}

.subclass td {
    padding: 0.5rem;
}

.even-row {
    background-color: var(--highlight-light);
}

.odd-row {
    background-color: var(--heaven-light);
}

@media screen and (min-width: 1024px) {
    .subclass {
        width: 45%;
    }
}