.abilities {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    width: 100%;
}

.ability {
    width: 28%;
    color: var(--davy);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
}

.ability div {
    font-weight: bold;
    margin: 1rem 0;
}

.ability label {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 0;
}

.ability select {
    width: 50%;
    border: 1px solid var(--davy);
    font-size: 1.5rem;
    font-family: inherit;
    background-color: var(--heaven-light);
}

@media screen and (min-width: 768px) {
    .ability {
        width: 30%;
    }
}

@media screen and (min-width: 1024px) {
    .ability {
        width: 14.5%;
    }
}

@media screen and (min-width: 1280px) {
    .ability {
        width: 14%;
    }
}

@media screen and (min-width: 1984px) {
    .ability {
        width: 15%;
    }
}