.main {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  z-index: 10;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 65%;
  background-color: var(--heaven);
}

@media screen and (min-width: 1024px) {
  .content {
    width: 40%;
  }
}
