.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-text {
    font-family: var(--font-fantasy);
    color: var(--davy);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    font-family: var(--font-display);
}

.blurb {
    color: var(--davy);
    font-size: 0.8rem;
    padding: 0.5rem 4rem;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .big-text {
        font-size: 2.5rem;
    }

    .blurb {
        font-size: 1rem;
    }

}

@media screen and (min-width: 1024px) {
    .big-text {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1536px) {
    .blurb {
        font-size: 1.3rem;
    }
}