.input-and-error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: fit-content;
}

.input-and-label-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.input-container {
    padding-top: 1.2rem;
    display: flex;
    align-items: center;
}

.input {
    font-family: inherit;
    font-size: 1.1rem;
    background-color: var(--heaven-light);
    border: 1px solid var(--davy);
    border-radius: 0.5rem;
    color: var(--davy);
    margin-top: 0.25rem;
}

.input:focus-visible,
.input:active {
    outline: var(--focus-outline);
}

.input::placeholder {
    color: transparent;
}

.label {
    position: absolute;
    bottom: 0.25rem;
    left: 0.5rem;
    color: var(--davy-light);
    cursor: text;
    pointer-events: none;
    height: min-content;
}

.label-selected {
    color: var(--davy) !important;
    bottom: 0 !important;
    left: 0 !important;
    top: 0;
    font-size: 0.9rem !important;
    pointer-events: auto !important;
}

.light-label.label-selected {
    color: var(--heaven-light) !important;
}

.error {
    color: var(--wine-red);
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    font-size: 0.8rem;
}

.input-error {
    border: 3px solid var(--error-red) !important;
}

.eye {
    width: 1.3rem;
    height: 1.3rem;
    fill: transparent;
    stroke: var(--davy);
    margin-left: 0.5rem;
    cursor: pointer;
}

.eye:active, .eye:focus-visible {
    fill: var(--highlight)
}

.eye:focus-visible {
    outline: var(--focus-outline);
}


@media screen and (min-width: 768px) {
    .input {
        font-size: 1.6rem
    }

    .label {
        font-size: 1.6rem;
    }

    .label-selected {
        font-size: 1.2rem !important;
    }

    .input-container {
        padding-top: 1.5rem
    }

    .error {
        font-size: 1rem;
    }

    .eye {
        height: 1.6rem;
        width: 1.6rem;
    }
}

@media screen and (min-width: 1024px) {
    .input {
        font-size: 2rem;
    }

    .label {
        font-size: 2rem;
    }

    .input-container {
        padding-top: 2rem;
    }

    .label-selected {
        font-size: 1.6rem !important;
    }

    .error {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1280px) {
    .eye {
        height: 2rem;
        width: 2rem;
    }
}

@media (hover: hover) and (pointer: fine) {
    .eye:hover {
        fill: var(--highlight)
    }
}