.calculations-container {
    display: block;
}

.title {
    align-self: center;
    font-family: var(--font-fantasy);
    color: var(--davy);
}

.generation-control {
    padding: 1rem;
    font-size: 1.2rem;
}

.generation-control label {
    margin-right: 0.5rem;
}

.generation-control select {
    width: 10rem;
    font-family: inherit;
    font-size: inherit;
    background-color: var(--heaven-light);
    border-radius: 0.5rem;
}

.generation-control select:focus {
    outline: 2px solid var(--highlight);
}

.roll-groups-toggle {
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
}

.roll-groups {
    display: none;
    margin-top: 1rem;
}

.open {
    display: block !important;
}

.roll-chevron {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--davy);
}

.add-group-container {
    font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
    .calculations-container {
        display: flex;
        flex-wrap: wrap;
    }

    .title {
        align-self: flex-start;
    }
}