.modal {
    width: 100%;
    height: 100%;
    background-color: var(--heaven);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5fr 1fr;
    grid-template-areas: "content"
                          "buttons";
    font-family: var(--font-display);
    overflow: hidden;
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    overflow-y: auto;
}

.buttons {
    grid-area: buttons;
    display: flex;
}

.icon {
    fill: var(--highlight);
    stroke: var(--davy);
    width: 10rem;
}

@media screen and (min-width: 768px) {
    .modal {
        height: 40%;
        width: 50%;
    }
}

@media screen and (min-width:1024px) {
    .modal {
        width: 35%;
    }
}