.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--davy);
  padding: 0.5rem;
  z-index: 10;
  width: 100%;
  font-family: var(--font-fantasy);
}

.brand-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.75rem;
}

.brand-container a:focus-visible {
  outline: var(--focus-outline);
}

.logo {
  width: 3rem;
  height: 3rem;
  fill: var(--wine-red);
  border-radius: 50%;
  transition: background-color 0.4s ease-out;
}

.logo:active {
  background-color: var(--highlight);
}

.brand-text {
  color: var(--heaven);
  margin-left: 0.75rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.navigation {
  display: none;
  margin-right: 5rem;
  width: 35%;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-inline-start: 0;
}

.navigation-link:focus-visible {
  transform: translateY(-0.25rem);
  outline: var(--focus-outline);
}

.navigation-list-item {
  position: relative;
}

.navigation-link {
  color: var(--heaven);
  font-size: 1.5rem;
  line-height: 2rem;
  position: absolute;
  bottom: -1rem;
  white-space: nowrap;
  text-decoration: none;
  transition: transform 0.2s, color 0.2s;
}

.navigation-link:active {
  transform: translateY(-0.25rem);
  color: var(--highlight);
}

.menu-icon {
  height: 3rem;
  width: 3rem;
  stroke: var(--heaven);
  color: var(--heaven);
  cursor: pointer;
}

.menu-icon:active {
  stroke: var(--highlight);
  color: var(--highlight);
}

@media (hover: hover) {
  .navigation-link:hover {
    transform: translateY(-0.25rem);
    color: var(--highlight);
  }

  .logo:hover {
    background-color: var(--highlight);
  }

  .menu-icon:hover {
  stroke: var(--highlight);
  color: var(--highlight);
}
}

@media screen and (min-width: 768px) {
  .logo {
    height: 6rem;
    width: 6rem;
  }

  .brand-text {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding-right: 2rem;
  }

  .navigation {
    display: block;
  }

  .menu-icon {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .navigation {
    margin-right: 7rem;
  }

  .brand-text {
    font-size: 3rem;
    line-height: 1;
  }

  .navigation-link {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}