.checkbox {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid var(--davy);
    background-color: var(--heaven-light);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}

.checked {
    background-color: var(--highlight) !important;
}

.alternate.checked {
    background-color: var(--davy) !important;
}

.label {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
    width: fit-content;
}

.alternate .check {
    color: var(--heaven-light);
}

.check {
    width: 1.2rem;
    height: 1.2rem;
    color: var(--davy);
    pointer-events: none;
}

.checkbox:focus-visible {
    outline: var(--focus-outline);
}

@media screen and (hover: hover) {
    .checkbox:hover {
        background-color: var(--highlight-light);
    }
}