.arrow-link {
    font-size: 2rem;
    text-decoration: none;
    background-color: var(--davy);
    color: var(--heaven-light);
    padding: 1rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    width: fit-content;
}

.link-arrow {
    width: 3rem;
    height: 3rem;
}

.arrow-link:focus-visible {
    background-color: var(--davy-light);
    outline: var(--focus-outline);
}

@media (hover: hover) {
    .arrow-link:hover {
        background-color: var(--davy-light);
    }
}