.header-text {
    color: var(--davy);
    font-family: var(--font-fantasy);
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 13rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .header-text {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .header-text {
        font-size: 3rem;
    }
}