.race-list {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.title {
    align-self: center;
    font-family: var(--font-fantasy);
    color: var(--davy)
}

.modal-title {
    color: var(--davy);
    font-family: var(--font-fantasy);
    font-size: 2rem;
}

.error-message {
    font-size: 1.3rem;
}

.deselect-button-div {
    display: flex;
    justify-content: space-between;
}

.deselect-icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--wine-red);
}

.deselect-icon-wrapper {
    border-radius: 50%;
    background-color: var(--heaven-light);
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

@media screen and (min-width: 768px) {
    .title {
        align-self: flex-start;
    }
}