.levels {
    border: 5px solid var(--davy);
    position: relative;
    border-collapse: collapse;
}

.levels thead th {
    position: sticky;
    top: -1rem;
    background-color: var(--davy);
    color: var(--heaven-light);
    z-index: 1;
}

.levels td, .levels th {
    text-align: center;
    padding: 0.5rem;
    max-width: 75%;
}

.level {
    background-color: var(--heaven-light);
}

.level:nth-of-type(even) {
    background-color: var(--highlight-light);
}

.level th {
    background-color: var(--davy);
    font-weight: bold;
    color: var(--heaven-light);
    position: sticky;
    left: -1rem;
}