.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.levels {
    border: 5px solid var(--davy);
    position: relative;
    border-collapse: collapse;
}

.levels thead th {
    position: sticky;
    top: -1rem;
    background-color: var(--davy);
    color: var(--heaven-light);
    z-index: 2;
}

.levels td, .levels th {
    text-align: center;
    padding: 0.5rem;
    max-width: 75%;
}

.levels td > *, .levels th > * {
    margin: 0 auto;
}

.level {
    background-color: var(--heaven-light);
}

.level:nth-of-type(even) {
    background-color: var(--highlight-light);
}

.level th {
    background-color: var(--davy);
    font-weight: bold;
    color: var(--heaven-light);
    position: sticky;
    left: -1rem;
    z-index: 1;
}