:root {
  --font-display: Alegreya, serif;
  --font-fantasy: MedievalSharp, fantasy, serif;
  --wine-red: #930c10;
  --wine-red-hover: #9f272a;
  --wine-red-active: #72090c;
  --davy: #290000;
  --davy-shadow: rgba(41, 0, 0, 0.3);
  --davy-light: #615151;
  --highlight: #f7ce65;
  --highlight-active: #f7d376;
  --highlight-hover: 	#f8d887;
  --highlight-light: #fbe9ba;
  --black: #030303;
  --heaven: #fffebd;
  --heaven-light: #fffee9;
  --error-red: #ff9494;
  --positive-green: #435B29;
  --positive-green-hover: #6c7f58;
  --positive-green-active: #34461f;
  --small: 640px;
  --medium: 768px;
  --large: 1024px;
  --extra-large: 1280px;
  --double-extra-large: 1536px;
  --focus-outline: 5px solid var(--highlight);
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

h1, h2 {
  font-family: var(--font-fantasy);
  color: var(--davy);
  align-self: center;
}

select {
  cursor: pointer;
}

option {
  cursor: pointer;
}

#__next {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

::selection {
  background-color: var(--highlight-light);
  color: 	#705555;
}

.app {
  height: 100%; 
  flex-grow: 1;
  z-index: 10;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.resize-animation-stopper * {
  transition: none !important;
  animation: none !important;
}

@media screen and (min-width: 768px) {
  h1 {
      font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
      font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }
}