:root {
  --font-display: Alegreya, serif;
  --font-fantasy: MedievalSharp, fantasy, serif;
  --wine-red: #930c10;
  --wine-red-hover: #9f272a;
  --wine-red-active: #ab4245;
  --davy: #290000;
  --highlight: #f7ce65;
  --highlight-active: #f7d376;
  --highlight-hover: 	#f8d887;
  --highlight-light: #fbe9ba;
  --black: #030303;
  --heaven: #fffebd;
  --heaven-light: #fffee9;
  --error-red: #ff9494;
  --positive-green: #96bf6b;
  --small: 640px;
  --medium: 768px;
  --large: 1024px;
  --extra-large: 1280px;
  --double-extra-large: 1536px;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#__next {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

::selection {
  background-color: var(--highlight-light);
  color: 	#705555;
}

.app {
  height: 100%; 
  flex-grow: 1;
  z-index: 10;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.resize-animation-stopper * {
  transition: none !important;
  animation: none !important;
}